body {
    font-family: Arial;
    text-align: center;
    background: #eef6f7;
}

h1 {
    color: #2c3e50;
}

select {
    padding: 10px;
    margin: 10px;
}

canvas {
    max-width: 600px;
    margin: 20px auto;
}